.App {
  text-align: center;
}

.search-bar {
  width: 310px;
  height: 20px;
  transition-duration: 1s;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.514);
}

.search-bar:focus {
  width: 400px;
}

.overlay-box {
  height: 70px;
  overflow: hidden;
  border: black ridge 1px;
  box-shadow: 0 0 7px 3px rgba(128, 128, 128, 0.39);
  width: 20rem;
  margin: 20px auto;
  transition-duration: .5s;
}

.overlay-box:hover {
  box-shadow: 0 0 10px 4px rgba(128, 128, 128, 0.81);
  height: 200px;
}

.box {
  text-align: left;
  padding: 10px;
  overflow: hidden;
  height: 100%;
}


.github-link {
  text-decoration: none;
  color: black;
}

.person-profile {
  width: 100%;
  display: flex;
}

.profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.person-name {
  margin-left: 10px;
}

.person-github {
  margin: auto;
  display: block;
  background: #ff96ad;
  transition-duration: .5s;
  width: 200px;
  height: 30px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 6px;
}

.person-github:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.person-github-link {
  text-decoration: none;
}

.wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 29ch;
  animation: typing 2.5s steps(29), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media screen and (max-width: 500px) {
  .overlay-box {
    width: 80%;
  }
  .box {
    width: auto;
  }
  .search-bar {
    width: 85%;
    transition-duration: 1s;
  }
  .search-bar:focus {
    width: 95%;
  }
  .typing-demo {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 300px) {
  .typing-demo {
    font-size: 1.1em;
  }
}