.App {
  text-align: center;
}

.search-bar {
  width: 300px;
  height: 20px;
  transition-duration: 1s;
}

.search-bar:focus {
  width: 400px;
}

.box {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  width: 20rem;
  padding: 10px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 0 5px 3px grey;
  transition-duration: .3s;
}

.box:hover {
  box-shadow: 0 0 8px 5px grey;
}

.github-link {
  text-decoration: none;
  color: black;
}

.person-profile {
  width: 100%;
  display: flex;
}

.profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.person-name {
  margin-left: 10px;
}

.person-github {
  margin: auto;
  display: block;
  background: #ff96ad;
  transition-duration: .5s;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.person-github:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.person-github-link {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .box {
    width: 80%;
  }
  .search-bar {
    width: 85%;
    transition-duration: 1s;
  }
  .search-bar:focus {
    width: 95%;
  }
}